.react-resizable {
   position: relative;
   background-clip: padding-box;
}

.react-resizable-handle {
   position: absolute;
   width: 10px;
   height: 100%;
   bottom: 0;
   right: -5px;
   cursor: col-resize;
   z-index: 1;
}

.editable-cell {
   position: relative;
}

.editable-cell-value-wrap {
   padding: 5px 12px;
   cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   padding: 4px 11px;
}

.editable-row .ant-form-explain {
   position: absolute;
   font-size: 12px;
   margin-top: -4px;
}

.ant-form-new-tour {
   background: #fbfbfb;
   border: 1px solid #d9d9d9;
   border-radius: 6px;
   margin: 10px 0px !important;
   padding: 30px 10px 10px !important;
}

.ant-form-new-tour .ant-form-item {
   display: flex;
}

.ant-form-new-tour .ant-form-item-control-wrapper {
   flex: 1;
}

.notice-load-data {
   color: rgb(44, 44, 44) !important;
}

.ht-style-editor {
   margin: 10px;
   padding: 10px;
}

.ht-style-card {
   margin: 10px;
   padding: 10px;
}

.ht-card-title-schedule {
   margin: 10px 20px 5px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.ht-describe-wrapper {
   margin: 2px 20px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.ht-button-save-schedule {
   margin: 2px 20px;
}

.ck-editor__editable {
   min-height: 400px !important;
}

.ht-flex-center-center {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.ht-mb-1 {
   margin-bottom: 8px;
}

.ht-float-left {
   float: left;
}

.ht-img-tour {
   max-height: 100%;
   border-radius: 5px !important;
}

.ht-boder-radius-1 {
   border-radius: 8px;
}

.ht-width100 {
   width: 100%;
}

.ht-loaded {
   position: fixed;
   bottom: 120px;
   right: 30px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table-row-cell-break-word {
   padding: 6px 6px !important;
}

.ant-table-footer {
   padding: 6px 6px !important;
}

.anticon {
   vertical-align: 0.05rem !important;
}

.ant-typography-expand {
   color: #1da57a !important;
   text-decoration: underline !important;
}

.ht-new-tour {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
}

.ht-new-tour-left,
.ht-new-tour-right {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
}

.ht-form-footer {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
   flex-wrap: wrap;
}

/* Front end */

.ht-name-tour {
   font-size: 1.1rem;
}

.ht-image-fix-size {
   object-fit: cover;
}

/* Tour Component */
.ht-tour-detail-container {
   position: relative;
}
.ht-day-scroll-auto {
   height: auto;
   position: absolute;
   padding: 3px;
   border: 1px solid rgba(35, 151, 103, 0.5);
   border-radius: 6px;
   font-size: 1.8em;
   font-weight: 500;
}

@media (max-width: 757.98px) {
   .ht-day-scroll-auto {
      width: 36px;
      top: 0;
      right: 0;
      font-size: 1.3em;
      font-weight: 400;
   }
}

@media (min-width: 758px) {
   .ht-day-scroll-auto {
      width: 48px;
      top: 0;
      left: -53px;
   }
}
/* day */
.ht-f-day {
   text-align: center;
   border-radius: 3px;
   background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
/* month and year */
.ht-f-date {
   text-align: center;
   font-size: 0.6em;
}

/* 
   xs: "480px",
   sm: "576px",
   md: "768px",
   lg: "992px",
   xl: "1200px",
   xxl: "1600px"
*/
/* Tour Detail */
.ht-carousel-all-tour {
   max-height: auto;
   object-fit: cover !important;
   overflow: hidden;
}

.ht-contain-img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.ht-img-tour {
   width: 100% !important;
   max-width: 100% !important;
   overflow: hidden !important;
   height: auto;
   object-fit: scale-down !important;
   border-radius: 6px;
   min-width: 100%;
   object-fit: contain !important;
   z-index: 0;
}

.right-detail-tour {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
}
@media (max-width: 992px) {
   .right-detail-tour {
      display: left;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
}

.text-price-tour-detail-book {
   font-weight: 600;
   font-size: 2.2rem;
}

.right-tour-detail-page {
   box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
   padding: 5px;
   margin: 5px;
}

.ht-detail-tour-title {
   font-weight: 500;
   margin-bottom: 0px;
}
.ht-detail-tour-title:hover {
   text-decoration: underline;
}
@media (min-width: 1024.01px) {
   .ht-detail-tour-title {
      font-size: 1.2rem;
   }
}

/*Ipad ngang(1024 x 768)*/
@media (max-width: 1024px) {
   .ht-detail-tour-title {
      font-size: 1.15rem;
   }
}
/*Ipad dọc(768 x 1024)*/
@media (max-width: 768px) {
   .ht-detail-tour-title {
      font-size: 1.1rem;
   }
}
/*Tablet nhỏ(480 x 640)*/
@media (max-width: 480px) {
   .ht-detail-tour-title {
      font-size: 1.05rem;
   }
}
/*Iphone(480 x 640)*/
@media (max-width: 320px) {
   .ht-detail-tour-title {
      font-size: 0.95rem;
   }
}

.ht-info-tour-detail {
   margin: 0px;
}
@media (min-width: 1024.01px) {
   .ht-info-tour-detail {
      font-size: 1rem;
   }
}

/*Ipad ngang(1024 x 768)*/
@media (max-width: 1024px) {
   .ht-info-tour-detail {
      font-size: 0.95rem;
   }
}
/*Ipad dọc(768 x 1024)*/
@media (max-width: 768px) {
   .ht-info-tour-detail {
      font-size: 0.9rem;
   }
}
/*Tablet nhỏ(480 x 640)*/
@media (max-width: 480px) {
   .ht-info-tour-detail {
      font-size: 0.85rem;
   }
}
/*Iphone(480 x 640)*/
@media (max-width: 320px) {
   .ht-info-tour-detail {
      font-size: 0.8rem;
   }
}

.ht-rate-detail-tour {
   padding-bottom: 0px;
   margin-bottom: 0px;
}

.ht-tour-detail-tag {
   color: rgba(0, 0, 0, 0.815) !important;
   border: 1px dotted rgba(0, 0, 0, 0.76) !important;
}

/* Template */
@media (min-width: 1024.01px) {
   .ht-tour-detail-tag {
      font-size: 0.95rem !important;
   }
}

/*Ipad ngang(1024 x 768)*/
@media (max-width: 1024px) {
   .ht-tour-detail-tag {
      font-size: 0.9rem !important;
   }
}
/*Ipad dọc(768 x 1024)*/
@media (max-width: 768px) {
   .ht-tour-detail-tag {
      font-size: 0.85rem !important;
   }
}
/*Tablet nhỏ(480 x 640)*/
@media (max-width: 480px) {
   .ht-tour-detail-tag {
      font-size: 0.8rem !important;
   }
}
/*Iphone(480 x 640)*/
@media (max-width: 320px) {
   .ht-tour-detail-tag {
      font-size: 0.75rem !important;
   }
}

.ht-text-price-tour-detail {
   font-weight: 600;
   font-size: 1rem;
   color: #000000;
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
   padding: 2px;
   border-radius: 1px;
   border: 1px dashed black;
}
.ht-text-price-tour-detail-2 {
   font-weight: 600;
   font-size: 1rem;
   color: #000000;
   background-image: linear-gradient(
      to right,
      #f78ca0 0%,
      #f9748f 19%,
      #fd868c 60%,
      #fe9a8b 100%
   );
   padding: 2px;
   border-radius: 1px;
   border: 1px dashed black;
}

.ht-text-price-tour-detail-root {
   color: rgba(141, 141, 141, 0.329) !important;
}

.ht-describe-info-tour-detail {
   text-align: justify;
   padding-bottom: 0px !important;
   margin-bottom: 0px !important;
}
.ht-info-tour-detail-special {
   display: flex;
}
.ht-info-tour-detail-price {
   display: flex;
}
@media (min-width: 1024.01px) {
   .ht-tour-detail-info-departure {
      font-size: 0.95rem !important;
   }
   .ht-text-price-tour-detail-root {
      font-size: 0.9rem !important;
   }
   .ht-info-tour-detail-special {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .ht-info-tour-detail-price {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

/*Ipad ngang(1024 x 768)*/
@media (max-width: 1024px) {
   .ht-tour-detail-info-departure {
      font-size: 0.9rem !important;
   }
   .ht-text-price-tour-detail-root {
      font-size: 0.85rem !important;
   }
   .ht-info-tour-detail-special {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .ht-info-tour-detail-price {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .ht-text-price-tour-detail {
      font-size: 0.95rem;
   }
}
.ht-info-tour-detail-container-3 {
   display: flex;
   flex-direction: column;
}
/*Ipad dọc(768 x 1024)*/
@media (max-width: 768px) {
   .ht-tour-detail-info-departure {
      font-size: 0.85rem !important;
   }
   .ht-text-price-tour-detail-root {
      font-size: 0.8rem !important;
   }
   .ht-info-tour-detail-container-3 {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
   }
   .ht-info-tour-detail-special {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
   }
   .ht-info-tour-detail-price {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
   }
}
/*Tablet nhỏ(480 x 640)*/
@media (max-width: 480px) {
   .ht-tour-detail-info-departure {
      font-size: 0.75rem !important;
   }
   .ht-info-tour-detail-container-3 {
      display: flex;
      flex-direction: column;
   }
   .ht-info-tour-detail-special {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .ht-info-tour-detail-price {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
   }
}
/*Iphone(480 x 640)*/
@media (max-width: 320px) {
   .ht-tour-detail-info-departure {
      font-size: 0.75rem !important;
   }
   .ht-info-tour-detail-special {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .ht-info-tour-detail-price {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
   }
}

/* Tour single paeg */
